h2 {
    font-size: 2.5rem;
    margin: 1rem 1rem 0 1rem; 
}

table {
    border: 2px solid #0A90D0;
    border-radius: 3px;
    margin: 1rem;
    width: 60%;
    border-spacing: 0;
}

#content {
    width: 100%;
    display: flex;
}

.header {
    background-color: #0A90D0;
    color: white;
    text-align: left;
}

th, td {
    padding: 1rem;
}

td {
    border-bottom: 1px solid grey;
}

.probe:hover {
    background-color: rgba(211,211,211,.6);
}

.module-list {
    margin: 0;
    padding-left: 0;
}

.module {
    list-style: none;
    line-height: 1;
}

#overview {
    width: max-content;
    position: fixed;
}

#overview th {
    text-align: center;
    padding: 1rem;
}
