<h2>Probe Tracker</h2>
<div class="container">
    <div id="content" *ngIf="probes.length; else loadingBlock">
        <table>
            <tr class="header">
                <th id="probe-id">Probe ID</th>
                <th id="status">Status</th>
                <th id="assignee">Assigned To</th>
                <th>Modules</th>
            </tr>
            <tr *ngFor="let probe of probes" class="probe">
                <td>{{probe.id}}</td>
                <td [ngStyle]="{'color':probe.status === 'Expired' ? 'red' : '#616161' }">{{probe.status}}</td>
                <td>{{probe.assignedTo}}</td>
                <td *ngIf="probe.moduleIds.length; else noneBlock">
                    <ul *ngFor="let id of probe.moduleIds" class="module-list">
                        <li class="module">{{modules[id]}}</li>
                    </ul>
                </td>
                <ng-template #noneBlock>
                    <td>
                        <ul class="module-list">
                            <li class="module">None</li>
                        </ul>
                    </td>
                </ng-template>
            </tr>
        </table>
        <div>
            <table id="overview">
                <th class="header" colspan="2">Overview</th>
                <tr>
                    <td>Total Probes</td>
                    <td>{{probes.length}}</td>
                </tr>
                <tr>
                    <td>Total Active</td>
                    <td>{{active}}</td>
                </tr>
                <tr>
                    <td>Total Expired</td>
                    <td>{{probes.length - active}}</td>
                </tr>
                <th class="header" colspan="2">Probe count per module:</th>
                <tr *ngFor="let module of modProbeCount">
                    <td>{{module[0]}}</td>
                    <td>{{module[1]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <ng-template #loadingBlock>
        <h2>Loading...</h2>
    </ng-template>
</div>