<div id="probes-table">
    <table>
        <tr>
            <th>Probe ID</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Modules</th>
        </tr>
        <tr *ngFor="let probe of probes">
            <td>{{probe.id}}</td>
            <td>{{probe.status}}</td>
            <td>{{probe.assignedTo}}</td>
            <td>
                <ul *ngFor="let id of probe.moduleIds">
                    <li>{{modules[id]}}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>