<h1>Welcome</h1>

<p>This project is to help demonstrate your ability to implement a small feature with with little direction in how you're going to accomplish it. You will flex your layout, CSS/SCSS, JavaScript, and data handling muscles and show your creativity both in interface design and programming.</p>

<h2>The Scenario</h2>

<p>Our members are learning the world of ultrasonography. Each of our members receive a probe that gives them access to our software and various modules to practice scanning.</p>

<p>You will create a Probe Status page that our Operations team can use to keep an eye on probes and their expirations.</p>

<h2>The Task</h2>

<p>We've already created a route and component for you to start building out your feature: <a routerLink="probes">Probes</a></p>

<p>It is up to you to display all of the data from the provided JSON files. Here is a list of target objectives:</p>

<ul>
  <li>Lay out the data so it is readable and easy on the eyes. We want our ops team to be able to sift throught this data and look for any probes that might need attention.</li>
  <li>Organize your code, write your own CSS/SCSS, create new components/files, whatever you need to do to make the code easy to read and ultimately maintain.</li>
  <li>Use all of the data in the available JSON files. We want to know the unique probe ID, the status, who it belongs to, and what modules it has licensed.</li>
</ul>

<h2>Extra Credit</h2>

<p>Add in an overview based on the data within the JSON files.</p>

<ul>
  <li>Total number of probes</li>
  <li>Number of active vs expired probes</li>
  <li>A tally of how many probes each module has access to</li>
  <li>etc.</li>
</ul>

<h2>The Data</h2>

<p>You can make HTTP requests to the following endpoints to get JSON formatted data to use in your project:</p>

<ul>
  <li>https://sonosim.com/candidates/probes.json</li>
  <li>https://sonosim.com/candidates/modules.json</li>
</ul>

<p><small>If for whatever reason you have trouble making an HTTP request to the available endpoints, you will find these same JSON files in this project's assets directory</small></p>
